<div fxLayout="row" fxLayoutAlign="end center">
    Da Shell
</div>
<div id="content-container">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Sidebar Menu Toggle" (click)="isExpanded = !isExpanded">
      <mat-icon>dehaze</mat-icon>
    </button>
  
  
    <div fxFlex></div>
    
    <div id="current-account" class="clickable" matTooltip="Current Team/Account">
      <mat-icon>language</mat-icon>
      <span>company/team name</span>
    </div>
  
    <button mat-icon-button aria-label="Chat with us" matTooltip="Chat with us">
      <mat-icon>account_circle</mat-icon>
    </button>

    <div #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>person</mat-icon>
          My Account
        </button>
          <button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Logout
          </button>
      </mat-menu>
    </div>
  
    <button mat-icon-button aria-label="Chat with us" matTooltip="Chat with us">
      <mat-icon>chat_bubble_outline</mat-icon>
    </button>
    
  </mat-toolbar>

  <mat-sidenav-container  id="sidenav-container" autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list fxLayout="column" id="nav-list">
        <a mat-list-item>
          <mat-icon mat-list-icon >account_circle</mat-icon>
          <p matLine *ngIf="isExpanded">Name</p>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item>
            <mat-icon mat-list-icon>inbox</mat-icon>
            <p matLine *ngIf="isExpanded">Inbox</p>
        </a>
        <a mat-list-item >
            <mat-icon mat-list-icon>star</mat-icon>
            <p matLine *ngIf="isExpanded">Starred</p>
        </a>
        <a mat-list-item >
            <mat-icon mat-list-icon>drafts</mat-icon>
            <p matLine *ngIf="isExpanded">Drafts</p>
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item>
            <mat-icon mat-list-icon>mail</mat-icon>
            <p matLine *ngIf="isExpanded">All Mail</p>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>delete</mat-icon>
            <p matLine *ngIf="isExpanded">Trash</p>
        </a>
        <a mat-list-item>
            <mat-icon mat-list-icon>warning</mat-icon>
            <p matLine *ngIf="isExpanded">Spam</p>
        </a>

        <div fxFlex></div>

        <mat-divider></mat-divider>

        <a mat-list-item target="_blank" href="http://help.zuant.com/">
          <mat-icon mat-list-icon>help</mat-icon>
          <p matLine *ngIf="isExpanded">Help Hub</p>
          <div fxFlex></div>
          <mat-icon *ngIf="isExpanded">launch</mat-icon>
        </a>
        <a mat-list-item (click)="logout()">
          <mat-icon mat-list-icon>input</mat-icon>
          <p matLine *ngIf="isExpanded">Logout</p>
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <div id="router-content-container">

      <li *ngFor="let mfe of microfrontends">
        <a [routerLink]="mfe.routePath">{{mfe.displayName}}</a>
    </li>
  
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
</div>

